body,
html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #997a5b;
}

#canvas {
	background-color: hsl(198, 72%, 72%);
	width: 100%;
	height: 100vh;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	display: block;
	margin: 0 auto;
	color: black;
}

#fullScreen {
	display: none;
	position: absolute;
	color: white;
	background: black;
	border: none;
	font-size: 1.2rem;
	border-radius: 10px;
	z-index: 999;
}

#menu {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 144px;
	height: 194px;
	padding: 33px 36px;
	gap: 16px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
	border: 2px blue solid;
	border-radius: 10px;

	input {
		width: 100px;
		height: 16px;
		font-size: 0.8rem;
		outline: none;
		border: 1px black solid;
		border-radius: 5px;
		background-color: transparent;
		text-align: center;

		&:focus {
			border: 1px yellow solid;
		}
	}

	button {
		background-color: yellow;
		border: none;
		border-radius: 5px;
		font-size: 1rem;
	}
}
